.contentPage {
  display: table-row;
}
nav {
  display: table-cell;
  padding-right: 2em;
  vertical-align: top;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  margin-bottom: 0.5em;
}

main {
  display: table-cell;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1em 2em;
  border-radius: 10px;
}
dt {
  font-weight: bold;
  font-weight: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
.question {
  font-size: larger;
  font-weight: bold;
  margin-top: 2em;
}
.questionOptions {
  margin-bottom: 1.5em;
}
ul.plain {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
fieldset {
  display: inline-block;
  vertical-align: top;
  border-width: 2px;
  border-radius: 10px;
}
fieldset label {
  display: block;
  margin-left: 30px;
}
fieldset input {
  float:left;
  margin-left: -30px;
}
.price {
  font-size: 1.6em;
  text-align: right;
}
.gearTable td:first-child {
  width: 35%;
  max-width: 270px;
  min-width: 150px;
  padding: 8px;
}
.gearTable thead {
  background-color: #1E3372;
  color: gainsboro;
  font-size: 1.4em;
}
.gearTable thead th {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  border: thin solid white;
}
.gearTable tbody {
  background-color: white;
}
.gearTable .respImg img {
  max-height: 330px;
}
.gearTable ul {
  padding-left: 1em;
}
.gearTable button {
  border-color: #1E3372;
  background-color: whitesmoke;
  color: #1E3372;
  cursor: pointer;
}
.gearTable button:hover {
  background-color: white;
  color: black;
}