/* Color palette
#1E3372 Dark blue
#9BA5A6 Light blue gray
#A8ADAD Light gray
#FFFFFF White
#BBD8FF Baby blue
Zen and Tea colors: https://color.adobe.com/zen-and-tea-color-theme-6622500/?showPublished=true;
#BDD684 light moss
#CBE28D lighter moss
#95AB63 darker moss
#10222B Very dark blue/green
*/

html {
  background-image: url('../img/iceLakeWeb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #9BA5A6;

  font-family: 'Raleway', Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  min-width: 720px;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 2em;
}

footer {
  margin-top: 2em;
	padding: 1em 0;
	text-align: center;
}

#logo {
  font-size: 3em;
  color: white;
  text-shadow: 2px 2px 8px #1E3372;
  padding: 0.6em 0 1em;
}
#logo a {
  color: inherit;
  text-decoration: none;
}
#logo a:hover {
  text-decoration: underline;
}

#cta {
  font-size: 2.3vw;
  font-weight: bold;
  color: #1E3372;
  text-align: center;
  margin-top: -3.5em;
  padding: 0.5em 0;
  position: relative;
  z-index: 0;

  background: -moz-linear-gradient(left,  rgba(155,165,166,0) 0%, rgba(155,165,166,0.7) 15%, rgba(155,165,166,0.7) 85%, rgba(155,165,166,0) 100%);
  background: -webkit-linear-gradient(left,  rgba(155,165,166,0) 0%,rgba(155,165,166,0.7) 15%,rgba(155,165,166,0.7) 85%,rgba(155,165,166,0) 100%);
  background: linear-gradient(to right,  rgba(155,165,166,0) 0%,rgba(155,165,166,0.7) 15%,rgba(155,165,166,0.7) 85%,rgba(155,165,166,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ba5a6', endColorstr='#009ba5a6',GradientType=1 );
}

#cta > span {
  color: white;
  font-size: 2em;
  letter-spacing: 0.1em;
  display: inline-block;
  text-shadow: 0 0 10px black;
}

.linkAsButton {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  color: #10222B;
  background-color: #BDD684;
  border-radius: 8px;
  border: medium solid #95AB63;
  padding: 0.4em 2em;
  text-decoration: none;
  width: 180px;
  box-sizing: border-box;
}

.linkAsButton:hover {
  color: #1E3372;
  background-color: #CBE28D;
}

.dataTable {
  border-collapse: collapse;
}
.dataTable td {
  padding: 0.2em 1.5em;
  border: thin solid dimgray;
}

.question {
  font-size: larger;
  font-weight: bold;
  margin-top: 2em;
}
fieldset {
  display: inline-block;
  vertical-align: top;
  border-width: 2px;
  border-radius: 10px;
}
ul.plain {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.pushRight {
  float: right;
  margin-left: 2em;
  margin-bottom: 0.5em;
}
.respImg img {
  max-width: 100%;
}
img.framed {
  border: thick solid white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
}